{% extends 'base_user.html.twig' %}

{% block title %}Modifier Chèque {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Modifier un chèque </p>
            <div class="form-control form-control-lg mx-auto corps text-center">
                {{ form_start(form) }}
                <div class="mx-auto mt-5 mb-5">


                    <div class="amount my-5">
                        {{ form_label(form.amount, 'Montant (en euros) ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.amount) }}
                        {{ form_widget(form.amount) }}
                        {{ form_help(form.amount) }}
                    </div>
                    
                    <div class="quote my-5">
                        {{ form_label(form.quote, 'Commentaire ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.quote) }}
                        {{ form_widget(form.quote) }}
                        {{ form_help(form.quote) }}
                    </div>
                    
                    <div class="dateOfCollection my-5">
                        {{ form_label(form.dateOfCollection, 'Date de récéption ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.dateOfCollection) }}
                        {{ form_widget(form.dateOfCollection) }}
                        {{ form_help(form.dateOfCollection) }}
                    </div>

               
                                
                    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

