{% extends 'base_user.html.twig' %}

{% block title %}Espace Gestion Document{% endblock %}




{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5">Tables des factures</p>

            <table class="table table-dark table-striped table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Numéro</th>
                    <th scope="col">Transaction</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Total Payé</th>
                    <th scope="col">Reste à charge</th>
                    <th scope="col">Chéque</th>
                    <th scope="col">Show</th>
                    <th scope="col">Confirm</th>
                </tr>
                </thead>

                <tbody>
                {% for invoice in invoices %} <tr>
                    <th>{{ invoice.customer.contact[0].name }}</th>
                    <th>{{ invoice.customer.contact[0].lastName }}</th>
                    {% if invoice.confirm==true %}
                        <th>Fact-{{ invoice.code }}</th>
                    {% else %}
                        <th>Dev-{{ invoice.code }}</th>
                    {% endif %}
                    <th>{{ invoice.transaction.transactionId }}</th>
                    <th>{{ totals[loop.index-1] }}</th>

                    {% set total=0 %}

                    {% for paymentdeadline in  invoice.paymentdeadlines %}
                        {% if paymentdeadline.actualPaymentDate is not null %}
                            {% set total = total+paymentdeadline.actualAmount %}
                        {% endif %}
                    {% endfor %}
                    <th>{{ total }}</th>
                    <th>{{ totals[loop.index-1]-total }}</th>
                    {% set cheque=0 %}
                    {% if invoice.transaction is not null %}
                        {% for transactionline in invoice.transaction.transactionlines %}
                            {% if transactionline.chartofaccounts.code==51120 or transactionline.chartofaccounts.code==51121 or transactionline.chartofaccounts.code==51122 %}
                                {% set cheque=cheque+transactionline.amount %}
                            {% endif %}
                            {% if "REM CHQ" in transactionline.label %}
                                {% set cheque=cheque+transactionline.amount %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <th>{{ cheque }}</th>

                    <th><a href="/invoice_admin/invoicePDF/{{ invoice.invoiceID }}" target="_blank"><i class = "fa text-light fa-eye"></i></a></th>
                    <th><a href="/invoice/confrim/{{ invoice.invoiceID }}" target="_blank"><i class = "fa text-light fa-eye"></i></a></th>
                </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}

