{% extends 'base_user.html.twig' %}

{% block title %}Liste équipes élu.e.s{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Liste des équipes d'élu.e.s
                {% if is_granted('ROLE_BF') %}
                    <a href="/equipeElu/new"><i class="fa-solid fa-plus align-right"></i></a>
                {% endif %}
            </p>
            <form action="{{ path('equipeElu_showAll') }}" method="post">
                <p class="text-center">
                    <input type="text" id="name" name="name" placeholder="Nom"/>
                    <select name="categorie" id="categorie" >
                        <option  value=Composante>Composante</option>
                        <option  value=Centraux>Centraux</option>
                        <option  value=Ecole>Ecole</option>
                        <option  value=CROUS>CROUS</option>
                        <option  value=Departement>Departement</option>
                        <option  value=LBSU>LBSU</option>
                        <option  value=Nationaux>Nationaux</option>
                    </select>
                    <input type="text" id="etablissement" name="etablissement" placeholder="etablissement"/>
                    <input type="text" id="fedeFi" name="fedeFi" placeholder="fede fi"/>
                    <button class="btn btn-primary" type="submit" >Rechercher</button>
                </p>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Etablissement</th>
                    <th scope="col">Détails</th>
                    
                    </tr>
                </thead>

                <tbody>
                {% for equipeElu in equipeElus %} 
                    <tr>
                        <td>{{equipeElu.getName()}}</td>   
                        <td> 
                            {% for categorie in equipeElu.getCategorie() %}
                                {{categorie}}   
                            {% endfor %}
                        </td>
                        <td>{{equipeElu.getEtablissement()}}</td>
                        <td><a href="/equipeElu/show/{{equipeElu.getId()}}"><i class="fa-solid fa-eye"></i></i></a></td> 
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
