{% extends 'base_user.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Ajouter une nouvelle formation au Catalogue</p>
            <div class="form-control form-control-lg mx-auto corps text-center">
                {{ form_start(form) }}
                <div class="mx-auto mt-5 mb-5">

                    <div class="name my-5">
                        {{ form_label(form.name, 'Nom ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                    </div>

                    <div class="description my-5">
                        {{ form_label(form.description, 'Description ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_help(form.description) }}
                    </div>

                    <div class="pre_requis my-5">
                        {{ form_label(form.pre_requis, 'pre-requis ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.pre_requis) }}
                        {{ form_widget(form.pre_requis) }}
                        {{ form_help(form.pre_requis) }}
                    </div>

                    <div class="duration my-5">
                        {{ form_label(form.duration, 'durée ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.duration) }}
                        {{ form_widget(form.duration) }}
                        {{ form_help(form.duration) }}
                    </div>

                    <div class="public_cible my-5">
                        {{ form_label(form.public_cible, 'public-cible ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.public_cible) }}
                        {{ form_widget(form.public_cible) }}
                        {{ form_help(form.public_cible) }}
                    </div>
                    
                    <div class="badge my-5">
                        {{ form_label(form.badge, 'badge', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.badge) }}
                        {{ form_widget(form.badge) }}
                        {{ form_help(form.badge) }}
                         <a href="/badge/new" target="_blank" ><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
                    </div>

                    <div class="opg my-5">
                        {{ form_label(form.opg, ' OPG ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.opg) }}
                        {{ form_widget(form.opg) }}
                        {{ form_help(form.opg) }}
                    </div>

                   
                
                    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                
                </div>
                {{ form_end(form) }}
            </div>
        </div> 
    </div>

{% endblock %}

