{% extends 'base_user.html.twig' %}

{% block title %}Choix Groupe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p class="display-6 no-wrap text-center">Choisir le groupe de la Seance :{{seance.getName()}} du {{seance.getDatetime().format("Y-m-d H:i")}}</p>
        <div class="form-control form-control-lg mx-auto corps text-center">
            <div class="groupe my-5">
                <form action="/seance/group/{{seance.getID()}}" method="post">
                    <p class="text-center ">
                    <select name="groupe" id="groupe">
                            <option  value={{currentGroup}} selected>{{currentGroup}}</option>
                        {% for event in listeGroups %}
                            <option value={{event}}>{{event}}</option>
                        {% endfor %}
                        <option value=''>autre</option>
                    </select>
                    <input type="text" id="newGroupe" name="newGroupe" placeholder="Nouveau groupe"/>
                    <button class="btn btn-primary" type="submit" >Valider</button>
                </form>  
            </div>
        </div>
    </div>

{% endblock %}

