{% extends 'base_user.html.twig' %}

{% block title %}Choix Sous Groupe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p class="display-6 no-wrap text-center">Choisir le sous groupe de la Seance :{{seance.getName()}} du {{seance.getDatetime().format("Y-m-d H:i")}}</p>
        <div class="form-control form-control-lg mx-auto corps text-center">
            <div class="groupe my-5">
                <form action="/seance/sub_group/{{seance.getID()}}/{{group}}" method="post">
                    <p class="text-center ">
                    <select name="subGroup" id="subGroup">
                        <option  value="0" selected>{{currentSubGroup}}</option>
                        {% for event in listeSubGroups %}
                            <option value={{event}}>{{event}}</option>
                        {% endfor %}
                        <option value="0">autre</option>
                    </select>
                    <input type="text" id="newSubGroup" name="newSubGroup" placeholder="Groupe"/>
                    <button class="btn btn-primary" type="submit" >Valider</button>
                </form>  
            </div>
        </div>
    </div>
{% endblock %}

