{% extends 'base_user.html.twig' %}

{% block title %}Liste Inscrits{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">


            <p class="display-6 no-wrap text-center mb-5">Liste des inscrits pour la formation {{seance.getName()}} du {{seance.getDatetime().format("Y-m-d H:i")}} 
            <a  href="/seance/liste_inscrit/pdf/{{seance.getId()}}"><i class="fa-solid fa-download"></i></a>
            </p>

            <table class="table table-striped">
                
                
                <thead>
                <tr>
                    <th scope="col">Heure inscription</th> 
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Association</th>
                    <th scope="col">Equipe d'élu</th>
                    <th scope="col">Détails</th>
                    {% if is_granted('ROLE_BF')%}
                            <th scope="col">Désinscrire</th>
                        {% endif %}
                    
                 </tr>
                </thead>

                <tbody>
                {% for seanceProfil in seance.getSeanceProfil() %} 
                    <tr>
                        <th>{{seanceProfil.getHorrodateur().format("Y-m-d H:i")}}
                        <th>{{seanceProfil.profil.getLastName()}}</th>
                        <th>{{seanceProfil.profil.getName()}}</th>
                        <th>
                        {% for association in seanceProfil.profil.getAssociation() %}
                            {{association }}
                        {% endfor %}
                        </th>
                        <th>
                        {% for equipeElu in seanceProfil.profil.getEquipeElu() %}
                            {{equipeElu }}
                        {% endfor %}
                        </th>
                        <th><a href="/account/show/{{seanceProfil.profil.getId()}}"><i class="fa-solid fa-eye"></i></a></th>
                        {% if is_granted('ROLE_BF')%}
                            <th><a href="/account/show/{{seanceProfil.profil.getId()}}"><i class="fa-solid fa-trash-can"></i></a></th> 
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
