{% extends 'base_user.html.twig' %}

{% block title %}Archive Séance{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5"> Liste des Séances
                {% if is_granted('ROLE_BF')%}
                    <a href="/seance/new"><i class="fa-solid fa-plus align-right"></i></a>
                {% endif %}
            </p>
            <form action="{{ path('seance_showAllForFormateurice') }}" method="post">
                <p class="text-center">
                    <input type="text" id="name" name="name" placeholder="Nom"/>
                    <input type="text" id="groupe" name="groupe" placeholder="groupe"/>
                    <input type="text" id="formation" name="formation" placeholder="formation"/>
                    <input type="text" id="lieu" name="lieu" placeholder="nom lieu"/>
                    <input type="text" id="ville" name="ville" placeholder="ville"/>
                   <br> 
                   <br>
                     date de début : <input type="date" id="datedebut" name="datedebut"/>
                     date de fin : <input type="date" id="datefin" name="datefin"/>
                    <button class="btn btn-primary" type="submit" >Rechercher</button>
                </p>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date et Heure</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for seance in seances %} 
                <tr>
                    <th>{{seance.getDatetime().format("Y-m-d H:i")}}</th>
                    <th>{{seance.getName()}}</th>
                    <th>{{seance.formation.getDuration().format("H:i")}}</th>
                    <th>
                    {% if seance.getLieux() is not null %}
                        {% for lieu in seance.getLieux() %}
                            {{lieu.getVille()}} 
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </th>
                    <th><a href="/seance/showForFormateurice/{{seance.getId()}}"><i class="fa-solid fa-eye"></i></a></th>
               </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

