{% extends 'base_user.html.twig' %}

{% block title %}Archive Séance{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5"> Liste des Séances</p>
            <a href="/lieux/new"><i class="fa-solid fa-plus align-right"></i></i></i></a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for seance in seances %} 
                <tr>
                    <th>Date et Heure :{{seance.getDatetime().format("Y-m-d H:i:s")}}</th>
                    <th>{{seance.getName()}}</th>
                    <th>{{seance.formation.getDuration().format("H:i")}}</th>
                    {% if seance.getLieux() is not null %}
                        {% for lieu in seance.getLieux() %}
                            <th> {{lieu.getVille()}} </th>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    <th><a href="/seance/show/{{seance.getId()}}"><i class="fa-solid fa-eye"></i></i></a></th>
               </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

