{% extends 'base_user.html.twig' %}

{% block title %}Prochaine Séance{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5">Séances à venir</p>
           

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date et Heure</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for seance in seances %} 
                    <tr>
                        <th>{{seance.getDatetime().format("Y-m-d H:i")}}</th>
                        <th>{{seance.getName()}}</th>
                        <th>{{seance.formation.getDuration().format("H:i")}}</th>
                        <th>
                        {% if seance.getLieux() is not null %}
                            {% for lieu in seance.getLieux() %}
                                {{lieu.getVille()}}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                        </th>
                        <th><a href="/seance/show/{{seance.getId()}}"><i class="fa-solid fa-eye"></i></i></a></th>
                    </tr> 
               {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

