{% extends 'base_user.html.twig' %}

{% block title %}Prochaine Séance{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5">Séances à venir</p>
           

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date et Heure</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                    {% if seances is empty %}
                        <tr>
                            <td colspan="5" align="center"> Aucune formation n'est programmée pour le moment</td>
                        </tr>
                    {% else %}
                    {% set listeWEFAffiché = [] %}
                        {% for seance in seances %} 
                            {% if seance.getGroupe() is defined and seance.getGroupe() not in listeWEFAffiché %}
                                {% set listeWEFAffiché = listeWEFAffiché|merge([seance.getGroupe()]) %}
                                <tr>
                                    <td>{{seance.getDatetime().format("Y-m-d")}}</td>
                                    <td colspan="2">{{(seance.getGroupe()|split('_'))[0]}}</td>
                                    
                                    <td>
                                    {% if seance.getLieux() is not null %}
                                        {% for lieu in seance.getLieux() %}
                                            {{lieu.getVille()}}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                    </td>
                                    <td><a href="/seance/show/{{seance.getId()}}"><i class="fa-solid fa-eye"></i></i></a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{seance.getDatetime().format("Y-m-d H:i")}}</td>
                                    <td>{{seance.getName()}}</td>
                                    <td>{{seance.formation.getDuration().format("H:i")}}</td>
                                    <td>
                                    {% if seance.getLieux() is not null %}
                                        {% for lieu in seance.getLieux() %}
                                            {{lieu.getVille()}}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                    </td>
                                    <td><a href="/seance/show/{{seance.getId()}}"><i class="fa-solid fa-eye"></i></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

