{% extends 'base_user.html.twig' %}

{% block title %}Nouvelle séance{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Programmer une nouvelle séance</p>
            
            <div class="form-control form-control-lg mx-auto corps text-center">
                {{ form_start(form) }}
                <div class="mx-auto mt-5 mb-5">

                    <div class="name my-5">
                        {{ form_label(form.name, 'Nom de la Seance ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                    </div>

                    <div class="datetime my-5">
                        {{ form_label(form.datetime, 'Date et Horaire de début ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.datetime) }}
                        {{ form_widget(form.datetime) }}
                        {{ form_help(form.datetime) }}
                    </div>

                
                    <div class="nombreplace my-5">
                        {{ form_label(form.nombreplace, 'Nombre de place maximum ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.nombreplace) }}
                        {{ form_widget(form.nombreplace) }}
                        {{ form_help(form.nombreplace) }}
                    </div>

                    <div class="formation my-5">
                        {{ form_label(form.formation, ' Formation ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.formation) }}
                        {{ form_widget(form.formation) }}
                        {{ form_help(form.formation) }}
                         <a href="/catalogue/new" target="_blank"><i class="fa-sharp fa-solid fa-circle-plus"></i></button></a>
                    </div>

                    <div class="lieux my-5">
                        {{ form_label(form.lieux, ' Lieux ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.lieux) }}
                        {{ form_widget(form.lieux) }}
                        {{ form_help(form.lieux) }}
                         <a href="/lieux/new" target="_blank"><i class="fa-sharp fa-solid fa-circle-plus"></i></button></a>
                    </div>

                    <div class="profil my-5">
                        {{ form_label(form.profil, ' Formateurice ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.profil) }}
                        {{ form_widget(form.profil) }}
                        {{ form_help(form.profil) }}
                    </div>

                 
    
                    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

