{% extends 'base_user.html.twig' %}

{% block title %}Détails equipe élu{% endblock %}



{% block body %}
    <div class="container-fluid">
        <div  style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center align-center mb-5"> Détails de l'équipe d'élu.e.s {{equipeElu.getName()}}</p>
            <div class=" d-flex text-center justify-content-evenly">
                <div class="card justify-content-start" style="width: 28rem;">
                    <div class=" card-body ">
                        <h5 class="card-title">{{equipeElu.getName()}}</h5>
                        <p class="card-text">{{equipeElu.getDescription()}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    
                        {% for categorie in equipeElu.getCategorie() %}
                        <li class="list-group-item">Catégorie : {{categorie}}</li>
                        {% endfor %}
                        {% for fede_fi in equipeElu.getFedeFilliere() %}
                            <li class="list-group-item">Fédération fillière : {{fede_fi}}</li>
                        {% endfor %}
                        <li class="list-group-item">Adresse mail : {{equipeElu.getAdresseMail()}} </li>
                        <li class="list-group-item">Etablissement : {{equipeElu.getEtablissement()}}</li>
                        <li class="list-group-item">Date d'élection :  {% if equipeElu.getDateElection() is null %}  - {% else %} {{equipeElu.getDateElection().format("d/m/y")}}{% endif %}</li>
                        <li class="list-group-item">Durée de mandat : {% if equipeElu.getDureeMandat() is null %}  - {% else %} {{equipeElu.getDureeMandat()}} ans {% endif %}</li>                      
                    </ul>
                    <div class="card-body">
                        {% if is_granted('ROLE_FORMATEURICE') %}
                             {% if is_granted('ROLE_BF') %}
                                <a href="/equipeElu/edit/{{ equipeElu.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>       
                                {% if is_granted('ROLE_FORMA') %}
                                    <a href="/equipeElu/delete/{{ equipeElu.getId()}}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                                {% endif %} 
                            {% endif %}
                            <a href="/equipeElu/" class="card-link"><i class="fa-solid fa-list"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Association</th>
                        <th scope="col">Adresse mail</th>
                        <th scope="col">Profil</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        {% if equipeElu.getProfil() is null %} 
                                Aucun membre inscrit sur la plateforme
                        {% else %} 
                            {% for profil in equipeElu.getProfil() %}
                                <tr>
                                    <td>{{profil.getName()}}</td>
                                    <td>{{profil.getLastName()}}</td>
                                    <td>
                                    {% for association in profil.getAssociation() %}
                                            {{association.getSigle()}}
                                    {% endfor %}
                                    </td>
                                    {% if is_granted('ROLE_FORMATEURICE') %}
                                        <td> {{profil.user.getEMail()}} </td>
                                        <td><a href="/account/show/{{profil.getId()}}"><i class="fa-solid fa-eye"></i></a></td> 
                                    {% endif %}
                                </tr> 
                            {% endfor %}
                        {% endif %}
                    </tbody>
                    {% if is_granted('ROLE_ADMIN') %}
                        <tfoot>
                            <th></th>
                            <th></th>
                            <th> <a class="btn btn-primary" href="/equipeElu/remove/{{equipeElu.getId()}}">vider l'équipe</a> </th>
                            <th></th>
                            <th></th>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}
