{% extends 'base.html.twig' %}

{% block title %}Détails equipe élu{% endblock %}



{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center align-center mb-5"> Détails de l'équipe d'élu.e {{equipeElu.getName()}}</p>
            <div class=" d-flex justify-content-center text-center align-left">
                <div class="card" style="width: 18rem;">
            
                    <div class=" card-body ">
                        <h5 class="card-title">{{equipeElu.getName()}}</h5>
                        <p class="card-text">{{equipeElu.getDescription()}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Code : {{equipeElu.getCode()}}</li>
                        <li class="list-group-item">Catégorie : {{equipeElu.getCategorie()}}</li>
                        <li class="list-group-item">Adresse mail : {{equipeElu.getAdresseMail()}} </li>
                        <li class="list-group-item">Etablissement : {{equipeElu.getEtablissement()}}</li>
                                                
                    </ul>
                    <div class="card-body">
                        <a href="/equipeElu/edit/{{ equipeElu.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/equipeElu/delete/{{ equipeElu.getId()}}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                        <a href="/equipeElu/" class="card-link"><i class="fa-solid fa-list"></i></a>
                        
                    </div>
                </div>
            
                <table class="table table-striped justify-content-center align-right">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Association</th>
                        <th scope="col">Adresse mail</th>
                        <th scope="col">Profil</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        {%if equipeElu.getProfil() is null %} 
                                Aucun membre inscrit sur la plateforme
                        {% else %} 
                            {% for profil in equipeElu.getProfil() %}
                                <tr>
                                    <th>{{profil.getName()}}</th>
                                    <th>{{profil.getLastName()}}</th>
                                    <th>{{profil.association.getSigle()}}</th>
                                    <th>{{profil.getAdresseMail()}}</th>
                                    <th><a href="/profil/show/{{profil.getId()}}"><i class="fa-solid fa-eye"></i></i></a></th> 
                                </tr> 
                            {% endfor %}
                        {% endif %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
