{% extends 'base_user.html.twig' %}

{% block title %}Liste Poste{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Liste des postes
                 <a href="/post/new"><i class="fa-solid fa-plus align-right"></i></a>
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Visible</th>
                    <th scope="col">Fin diffusion</th>
                    <th scope="col">Détails</th>       
                 </tr>
                </thead>
                <tbody>
                    {% for post in posts %} 
                        <tr>
                            <td>{{post.getTitre()}}</td>
                            <td>{{post.getDescription()}}</td>
                            <td>
                                {% if post.visible == FALSE %}
                                    <a href="/post/visible/{{ post.getId() }}" >
                                        <i class="fa-sharp fa-solid fa-circle-xmark" style="color: red;" ></i>
                                    </a>
                                {% else %}
                                    <a href="/post/unvisible/{{ post.getId() }}" >
                                        <i class="fa-sharp fa-solid fa-circle-check" style="color: green;"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td>{% if post.getEndDate() is null %} - {% else %}{{post.getEndDate().format('d/m/Y H:i')}}{% endif %}</td>
                            
                            <td><a href="/post/show/{{post.getId()}}"><i class="fa-solid fa-eye"></i></i></a></td> 
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
