{% extends 'base_user.html.twig' %}

{% block title %}Formations suivies{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5">Liste des formations suivies par {{profil.getName()}} {{profil.getLastName()}}</p>
           

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date et Heure</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for inscription in inscriptions %} 
                    <tr>
                        <th>{{inscription.getSeance().getDatetime().format("Y-m-d H:i")}}</th>
                        <th>{{inscription.getSeance().getName()}}</th>
                        <th>{{inscription.getSeance().formation.getDuration().format("H:i")}}</th>
                        
                        <th><a href="/seance/show/{{inscription.getSeance().getId()}}"><i class="fa-solid fa-eye"></i></i></a></th>
                    </tr> 
               {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

