
{% extends 'base_user.html.twig' %}


{% block title %}Détails profil{% endblock %}



{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5"> Détails du profil de {{app.user.profil.getName()}} {{app.user.profil.getLastName()}}</p>
                <div class=" d-flex justify-content-center text-center align-center">
                    <div class="card align-center" style="width: 18rem;">
                
                        <div class=" card-body ">
                            <h5 class="card-title">{{app.user.profil.getName()}}</h5>
                            <p class="card-text">{{app.user.profil.getLastName()}}</p>
                            <p class="card-text">{{app.user.profil.getPronom()}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Code : {{app.user.profil.getCode()}}</li>
                            <li class="list-group-item">Code : {{app.user.getEmail()}}</li>
                            <li class="list-group-item">Code : {{app.user.profil.getTelephone()}}</li>
                            <li class="list-group-item">Date de naissance : {% if app.user.profil.getDateOfBirth() is null %} - {% else %} {{app.user.profil.getDateOfBirth().format("d:m:y")}} {% endif %}</li>
                            <li class="list-group-item">Score : {%if app.user.profil.getScore() is null %}0 {% else %} {{app.user.profil.getScore()}} {% endif %} </li>
                            <li class="list-group-item">Equipe d'élu : {% for equipeElu in app.user.profil.getEquipeElu() %}{{equipeElu.getName()}} {% endfor %}</li>
                            <li class="list-group-item">Association :{% for association in app.user.profil.getAssociation() %}{{association.getSigle()}} {% endfor %} </li
                        
                            
                        </ul>
                        <div class="card-body">
                            <a href="/account/edit" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                           
                        </div>
                    </div>
                    <div class="d-flex align-content-start flex-wrap">
                            {% for badge in app.user.profil.getBadge() %} 
                            <div class="p-2">
                                 <img class="card-img-top" href='/badge/{{badge.getId()}}'src="{{badge.getImage}}" alt="badge :{{badge.getName()}}" >
                                      {{badge.getName()}}
                            </div>                       
                            {% endfor %}
                    </div>
                </div>
        </div>
    </div>


{% endblock %}
