
{% extends 'base_user.html.twig' %}


{% block title %}Détails profil{% endblock %}



{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5"> Détails du profil de {{profil.getName()}} {{profil.getLastName()}}</p>
                <div class=" d-flex justify-content-center text-center align-center">
                    <div class="card align-center" style="width: 18rem;">
                
                        <div class=" card-body ">
                            <h5 class="card-title">{{profil.getName()}}</h5>
                            <p class="card-text">{{profil.getLastName()}}</p>
                             {% for pronom in app.user.profil.getPronom()  %}
                                <p class="card-text">{{pronom}}</p>
                            {% endfor %}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Mail : {{app.user.getEmail()}}</li>
                            <li class="list-group-item">Téléphone : {{app.user.profil.getTelephone()}}</li>
                            <li class="list-group-item">Date de naissance : {% if profil.getDateOfBirth() is null %} - {% else %} {{profil.getDateOfBirth().format("d:m:y")}} {% endif %}</li>
                            <li class="list-group-item">Equipe d'élu : {% for equipeElu in profil.getEquipeElu() %}{{equipeElu.getName()}} {% endfor %}</li>
                            <li class="list-group-item">Association :{% for association in profil.getAssociation() %}{{association.getSigle()}} {% endfor %} </li
                        
                            
                        </ul>
                        <div class="card-body">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="/account/edit/{{ profil.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/account/delete/{{ profil.getId()}}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                            {% endif %}
                            <a href="/account/showAll" class="card-link"><i class="fa-solid fa-list"></i></a>
                           
                        </div>
                    </div>
                    <div class="d-flex align-content-start flex-wrap">
                            {% for badge in profil.getBadge() %} 
                            <div class="p-2">
                                 <img class="card-img-top" src="{{badge.getImage}}" alt="image du association : {{badge.getName()}}" >
                                      {{badge.getName()}}
                            </div>                       
                            {% endfor %}
                    </div>
                </div>
        </div>
    </div>


{% endblock %}
