{% extends 'base_user.html.twig' %}

{% block title %}Détails Fournisseurs {% endblock %}



{% block body %}
    <div class="container-fluid">
        <div  style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center align-center mb-5"> Détails du fournisseur {{supplier.getName()}}</p>
            
            <div class=" d-flex text-center justify-content-evenly">
                <div class="card justify-content-start" style="width: 18rem;">
            
                    <div class=" card-body ">
                        <h5 class="card-title">{{supplier.getName()}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">                       
                        <li class="list-group-item"> SIRET : {% if supplier.getAdministrativeIdentifier() %} {{supplier.getAdministrativeIdentifier().getSiret()}}{% endif %}</li>
                        <li class="list-group-item"> APE : {% if supplier.getAdministrativeIdentifier() %} {{supplier.getAdministrativeIdentifier().getAPE()}}{% endif %}</li>
                        <li class="list-group-item">Localisation : {% if supplier.getLocation() %}<a href="/location/show/{{ supplier.getLocation().getId() }}" class="card-link">  {{supplier.getLocation().getName()}}</a>{% endif %}</li>
                        <li class="list-group-item">Compte associé : {% if supplier.getChartOfAccounts() %}<a href="/chartOfAccounts/show/{{ supplier.getChartOfAccounts().getId() }}" class="card-link">  {{supplier.getChartOfAccounts().getName()}} | {{supplier.getChartOfAccounts().getCode()}}</a>{% endif %}</li>                   
                    </ul>
                    <div class="card-body">             
                            <a href="/supplier/edit/{{ supplier.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>       
                            <a href="/supplier/" class="card-link"><i class="fa-solid fa-list"></i></a>
                    </div>
                </div>
            </div>
        </div> 

       
    </div>
{% endblock %}
