{% extends 'base_user.html.twig' %}

{% block title %}Détails évènement {% endblock %}



{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center mb-5">Détails de l'évènement {{evenement.getName()}}</p>
            <div class=" d-flex justify-content-center text-center align-center">
                <div class="card" style="width: 18rem;">
                    <div class=" card-body ">
                        <p class="card-text">{{evenement.getName()}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Description : {{evenement.getDescription()}}</li>
                        <li class="list-group-item">Url de redirection : {{evenement.getURL()}}</li>
                        <li class="list-group-item">Date de Debut : {% if evenement.getDateDebut() %} {{evenement.getDateDebut().format("d/m/y H:i")}} {% endif %} </li>
                        <li class="list-group-item">Date de Fin :{% if evenement.getDateFin() %} {{evenement.getDateFin().format("d/m/y H:i")}}{% endif %}</li>
                        <li class="list-group-item">Date de Fin Inscription: {% if evenement.getDateFinInscription() %}  {{evenement.getDateFinInscription().format("d/m/y H:i")}}{% endif %}</li>
                        <li class="list-group-item"> Visible :
                        {% if evenement.visible == FALSE %}
                            <a href="/evenement/visible/{{ evenement.iD }}" >
                                <i class="fa-sharp fa-solid fa-circle-xmark" style="color: red;" ></i>
                            </a>
                        {% else %}
                            <a href="/evenement/unvisible/{{ evenement.iD }}" >
                                <i class="fa-sharp fa-solid fa-circle-check" style="color: green;"></i>
                            </a>
                        {% endif %}
                       </li>
                         {% if is_granted('ROLE_FORMATEURICE') %}
                            {% if  evenement.visible %}
                                <li class="list-group-item"> QR code inscription : <a href="/inscription/QRCodeEventGen/{{evenement.getId()}}" class="card-link"><i class="fa-solid fa-qrcode"></a></i> 
                                <li class="list-group-item"> QR code retour : <a href="/retour/QRCodeEventGen/{{evenement.getId()}}" class="card-link"><i class="fa-solid fa-qrcode"></a></i>
                             {% endif %}
                        {% endif %}
                    </ul>
                    <div class="card-body">
                        {% if is_granted('ROLE_BF')%}
                            <a href="/evenement/edit/{{ evenement.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% if is_granted('ROLE_FORMA') %}
                                <a href="/evenement/delete/{{ evenement.getId()}}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                            {% endif %}
                        {% endif %}
                        <a href="/evenement/" class="card-link"><i class="fa-solid fa-list"></i></a>
                        {% if evenement.visible %}
                        <a href='/inscription/evenement/{{evenement.getId()}}' class="card-link">inscription</a>
                        {% endif %}
                       
                    </div>
                </div> 
            </div>
            <table style="justify-content:center align-items-bottom"  class=" table align-middle table-success table-striped-columns" > 
                <thead>
                    <tr>
                        {% for parcours in evenement.getParcours() %}
                            <th scope="col">{{parcours}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for formation in seanceByCreneauAndParcours %} 
                        {% set length = 1 %}
                        {% set x = true %}
                        {# on itere tt les horaires  #}
                        <tr>              
                            {% for  parcours in evenement.getParcours() %}
                            {# on itere tt les parcours #}
                                {% if x %}      
                                    {% if formation[parcours] is defined %}
                                        {% if formation[parcours].getParcours() == null %}
                                            {% set length = evenement.getParcours()|length %}
                                            {% set x = false %}  
                                        {% endif %} 
                                        <td colspan="{{length}}" >
                                                <div class="card" style="width: 18rem;">
                                                <div class=" card-body ">
                                                    <h5 class="card-title">{% if formation[parcours].getFormation() %} {{formation[parcours].getFormation().getName()}} {% endif %} </h5>
                                                    <p class="card-text">{% if formation[parcours].getFormation() %} {{formation[parcours].getFormation().getDescription()}} {% endif %} </p>
                                                    <p class="card-text">OPG :{% if formation[parcours].getFormation() %} {{formation[parcours].getFormation().getOpg()}} {% endif %} </p>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Pré-requis : {% if formation[parcours].getFormation() %} {{formation[parcours].getFormation().getPreRequis()}} {% endif %} </li>
                                                    <li class="list-group-item">Durée :{% if formation[parcours].getFormation() %} {% if formation[parcours].getFormation().getDuration() is null %}0 {% else %} {{formation[parcours].getFormation().getDuration().format("H:i")}} {% endif %} {% endif %}</li>
                                                    <li class="list-group-item">Public Cible : {% if formation[parcours].getFormation() %} {{formation[parcours].getFormation().getPublicCible()}} {% endif %} </li>
                                                     {% if formation[parcours].getFormation() %}  
                                                        {% if formation[parcours].getFormation().getBadge() is not null and formation[parcours].getFormation().getBadge().getImage() %}
                                                            <li class="list-group-item"> <img  src="{{asset(formation[parcours].getFormation().badge.getImage())}}" alt="image de {{formation[parcours].getFormation().badge.getName()}}" ></li>
                                                        {% endif %}                 
                                                    {% endif %}  
                                                </ul>
                                                <div class="card-body">
                                                    {% if is_granted('ROLE_FORMATEURICE') %}
                                                        {% if is_granted('ROLE_BF') %}
                                                            <a href="/seance/editForEvent/{{ formation[parcours].getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                                                            {% if is_granted('ROLE_FORMA') %}
                                                                <a href="/seance/delete/{{ formation[parcours].getId()}}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                            <a href="/seance/showForFormateurice/{{formation[parcours].getId()}}" class="card-link"><i class="fa-solid fa-eye"></i></a>
                                                    {% endif %}
                                                            
                                                </div>     
                                            </div>
                                        </td >
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody> 
            </table> 
             {% if  evenement.visible == false  %}
                <div class="text-center">
                    <a href="/seance/newForEvent/{{ evenement.id }}"><button class="btn btn-success mt-3 mb-3" type="submit" name="show">{{ button_label|default('Ajouter une ligne ') }}<i class = "fa text-light fa-plus-square me-2"></i></button></a>
                </div>
            {% endif %}               
        </div>
    </div>


{% endblock %}
