{% extends 'base_user.html.twig' %}

{% block title %}Nouvelle adresse{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Ajouter une nouvelle adresse</p>
            <div class="form-control form-control-lg mx-auto corps text-center">
                {{ form_start(form) }}
                <div class="mx-auto mt-5 mb-5">


                <div class="name my-5">
                        {{ form_label(form.name, 'Nom ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                    </div>

                    <div class="adress my-5">
                        {{ form_label(form.adress, 'Adresse ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.adress) }}
                        {{ form_widget(form.adress) }}
                        {{ form_help(form.adress) }}
                    </div>

                    <div class="zipCode my-5">
                        {{ form_label(form.zipCode, 'ZIP Code ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.zipCode) }}
                        {{ form_widget(form.zipCode) }}
                        {{ form_help(form.zipCode) }}
                    </div>

                    <div class="city my-5">
                        {{ form_label(form.city, 'Ville ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                        {{ form_help(form.city) }}
                    </div>

                
                    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

