{% extends 'base_user.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
       <div class="container-fluid">
            <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
                 <p class="display-6 no-wrap text-center">Créer une nouvelle facture</p>
                <div class="form-control form-control-lg mx-auto corps text-center">
                    {{ form_start(form) }}
                    <div class="mx-auto mt-5 mb-5">
                            <div class="exercice my-5">
                                {{ form_label(form.exercice, 'Exercice ', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_errors(form.exercice) }}
                                {{ form_widget(form.exercice)}}
                                {{ form_help(form.exercice) }}
                            </div>
                             <div class="customer my-5">
                                {{ form_label(form.customer, 'customer ', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_errors(form.customer) }}
                                {{ form_widget(form.customer)}}
                                {{ form_help(form.customer) }}
                                 <a href="/customer/new" target="_blank"><i class="fa-sharp fa-solid fa-circle-plus"></i></button></a>
                            </div>
                       
                             <div class="credit my-5">
                                {{ form_label(form.credit, 'credit ', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_errors(form.credit) }}
                                {{ form_widget(form.credit)}}
                                {{ form_help(form.credit) }}
                            </div>
                           
                            {% set compteur = 0 %}
                            {% for invoiceLine in form.invoiceLines %}
                                <div class="invoiceLine my-5">
                                    <p class="display-5 no-wrap text-center"> Ligne {{compteur}} </p>
                                    <div class="discount my-5">
                                        {{ form_label(invoiceLine.discount, 'discount ', {'label_attr': {'class': 'foo'}}) }}
                                        {{ form_errors(invoiceLine.discount) }}
                                        {{ form_widget(invoiceLine.discount)}}
                                        {{ form_help(invoiceLine.discount) }}
                                    </div>

                                    <div class="quote my-5">
                                        {{ form_label(invoiceLine.quote, 'commentaire ', {'label_attr': {'class': 'foo'}}) }}
                                        {{ form_errors(invoiceLine.quote) }}
                                        {{ form_widget(invoiceLine.quote)}}
                                        {{ form_help(invoiceLine.quote) }}
                                    </div>

                                    <div class="catalogDiscount my-5">
                                        {{ form_label(invoiceLine.catalogDiscount, 'réduction ', {'label_attr': {'class': 'foo'}}) }}
                                        {{ form_errors(invoiceLine.catalogDiscount) }}
                                        {{ form_widget(invoiceLine.catalogDiscount)}}
                                        {{ form_help(invoiceLine.catalogDiscount) }}
                                         <a href="/discount/new" target="_blank"><i class="fa-sharp fa-solid fa-circle-plus"></i></button></a>
                                    </div>

                                    <div class="quantity">
                                        {{ form_label(invoiceLine.quantity, 'Quantité ', {'label_attr': {'class': 'foo'}}) }}
                                        {{ form_errors(invoiceLine.quantity) }}
                                        {{ form_widget(invoiceLine.quantity)}}
                                        {{ form_help(invoiceLine.quantity) }}
                                    </div>

                                    <div class="catalogService my-5">
                                        {{ form_label(invoiceLine.catalogService, 'Service ', {'label_attr': {'class': 'foo'}}) }}
                                        {{ form_errors(invoiceLine.catalogService) }}
                                        {{ form_widget(invoiceLine.catalogService)}}
                                        {{ form_help(invoiceLine.catalogService) }}
                                         <a href="/service/new" target="_blank"><i class="fa-sharp fa-solid fa-circle-plus"></i></button></a>
                                    </div>
                                </div>
                                 {% set compteur = compteur + 1 %}
                             {% endfor %}
                        <div class="invoiceLine my-5" data-prototype="{{ form_widget(form.invoiceLines.vars.prototype)|e('html_attr') }}">
                        </div>

                        <button type="button" class="btn btn-success add_item_link" data-collection-holder-class="invoiceLine">Ajouter une Ligne</button>
                        <br>
                        <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(
        function() {

            // Get the ul that holds the collection of tags
            var $invoiceLineCollectionHolder = $('ul.invoiceLine');
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $invoiceLineCollectionHolder.data('index', $invoiceLineCollectionHolder.find('input').length);

            $('body').on('click', '.add_item_link', function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass);
            })
        });

        function addFormToCollection($collectionHolderClass) {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            //newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newLabel = $("<h3  class='my-3'>Nouvelle Ligne</h3>");
            $collectionHolder.append($newLabel)
            var $newForm = $('<div></div>').append(newForm);
            // Add the new form at the end of the list
            $collectionHolder.append($newForm)
            addTagFormDeleteLink($newForm,$newLabel);
        }

        function addTagFormDeleteLink($newForm,$newLabel) {
            var $removeFormButton = $('<button type="button" class="btn btn-danger">Retirer cette Ligne</button>');
            $newForm.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $newForm.remove();
                $newLabel.remove();
            });
        }
    </script>
{% endblock %}

