{% extends 'base.html.twig' %}

{% block title %}Badge{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="table"> Badge</p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Création</th>
                    <th scope="col">Voir plus</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for badge in badges %} 
                <tr>
                    <th>{{badge.getCode()}}</th>
                    <th>{{badge.getName()}}</th>
                    <th>{{badge.getDescription()}}</th>
                    <th>{{badge.getDateCreation().format("d:m:y")}}</th>
                    <th><a href="/badge/show/{{badge.id}}"><i class="fa-solid fa-eye"></i></i></a></th>  
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
