{% extends 'base_user.html.twig' %}

{% block title %}Nouvelle association{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Ajouter une nouvelle association</p>
            <div class="form-control form-control-lg mx-auto corps text-center">
                {{ form_start(form) }}
                <div class="mx-auto mt-5 mb-5">

                    <div class="image my-5">
                        {{ form_label(form.image, 'Logo ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.image) }}
                        {{ form_widget(form.image) }}
                        {{ form_help(form.image) }}
                    </div>

                    <div class="sigle my-5">
                        {{ form_label(form.sigle, 'Sigle ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.sigle) }}
                        {{ form_widget(form.sigle) }}
                        {{ form_help(form.sigle) }}
                    </div>

                    <div class="name my-5">
                        {{ form_label(form.name, 'Nom ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                    </div>

                    <div class="description my-5">
                        {{ form_label(form.description, 'Description ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_help(form.description) }}
                    </div>

                    <div class="fede_filliere my-5">
                        {{ form_label(form.fede_filliere, 'Fédération de fillière', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.fede_filliere) }}
                        {{ form_widget(form.fede_filliere) }}
                        {{ form_help(form.fede_filliere) }}
                    </div>

                    <div class="fede_territoire my-5">
                        {{ form_label(form.fede_territoire, 'Fédération de territoire', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.fede_territoire) }}
                        {{ form_widget(form.fede_territoire) }}
                        {{ form_help(form.fede_territoire) }}
                    </div>

                    <div class="local my-5">
                        {{ form_label(form.local, ' Local ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.local) }}
                        {{ form_widget(form.local) }}
                        {{ form_help(form.local) }}
                    </div>

                    <div class="adresse_mail my-5">
                        {{ form_label(form.adresse_mail, ' Adresse mail ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.adresse_mail) }}
                        {{ form_widget(form.adresse_mail) }}
                        {{ form_help(form.adresse_mail) }}
                    </div>

                    <div class="date_election my-5">
                        {{ form_label(form.date_election, ' Date de l\'AGO ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.date_election) }}
                        {{ form_widget(form.date_election) }}
                        {{ form_help(form.date_election) }}
                    </div>
                
                    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

