{% extends 'base_user.html.twig' %}

{% block title %}Inscription WEF{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center"> Inscription WEF </p>
            {% set i = 0 %}
            <form action="{{ path('inscription_WEF',{'groupe' : seances[0].getGroupe() } ) }}" method="post">
                <table class="table table-borderless"> 
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"> Absent </th>      
                        </tr>
                    </thead>
                    <tbody>
                        {% for seance in seances %}    
                            <tr>
                                <th>       
                                    <div class=" card-body ">
                                        <h5 class="card-title"> {{seances[i].getName()}} </h5>
                                        <p class="card-text"> {{seances[i].formation.getDescription()}} </p>
                                    </div>
                                </th>
                                <th><input type="text" id="attente" name="attentes_{{ i }}"   placeholder="Attentes vis à vis de cette formation"/></th>
                                <th ><input type="checkbox" id="indisponibilite" name="indisponibilite_{{ i }}" placeholder="êtes vous indisponible pour cette formation"/></th>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                         </tbody> 
                </table>
                <table class="table table-borderless"> 
                    <tbody>          
                            <th></th>
                            <th><button class="btn btn-primary" type="submit" >Valider</button></th>
                             <th></th>
                        </tr>
                    </tbody> 
                </table>
            </form>
        </div>
    </div>

{% endblock %}

