
{% extends 'base_user.html.twig' %}


{% block title %}mon profil{% endblock %}



{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            {% if app.user.profil  %}
                <p class="display-6 no-wrap text-center align-center mb-5"> Mon profil </p>
                <div class=" d-flex text-center justify-content-evenly">
                    <div class="card justify-content-start" style="width: 18rem;">
                        <div class=" card-body ">
                            <h5 class="card-title">{{app.user.profil.getName()}}</h5>
                            <p class="card-text">{{app.user.profil.getLastName()}}</p>
                            {% for pronom in app.user.profil.getPronom()  %}
                                <p class="card-text">{{pronom}}</p>
                            {% endfor %}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Adresse Mail : {{app.user.getEmail()}}</li>
                            <li class="list-group-item">Téléphone : {{app.user.profil.getTelephone()}}</li>
                            <li class="list-group-item">Date de naissance : {% if app.user.profil.getDateOfBirth() is null %} - {% else %} {{app.user.profil.getDateOfBirth().format("d/m/y")}} {% endif %}</li>
                            <li class="list-group-item">Equipe d'élu.e.s : {% for equipeElu in app.user.profil.getEquipeElu() %}{{equipeElu.getName()}} {% endfor %}</li>
                            <li class="list-group-item">Association.s :{% for association in app.user.profil.getAssociation() %}{{association.getSigle()}} {% endfor %} </li
                        </ul>
                         <div class="card-body ">
                            <a class="card-link" href={{path('profil_edit')}}><i class="fa-solid fa-pen-to-square"></i></a> 
                        </div>
                        <div class="card-body ">
                            <a class="btn btn-primary" href="/account/show/seances/{{app.user.profil.getId()}}">Formations suivies</a> 
                        </div>
                        
                    </div>
                </div>
               
                {% if app.user.profil.getBadge() is not empty  %}
                 <br>
                    <p class="display-6 no-wrap text-center">Mes badges  </p>
                    <div class="d-flex justify-content-center flex-wrap">
                        {% for badge in app.user.profil.getBadge() %} 
                            <div class=" d-flex justify-content-center text-center align-center">
                                <div class="card" style="width: 8rem;">
                                    <div class=" card-body ">
                                        {% if badge.getImage() is not null %}<img class="card-img-top" src="{{asset(badge.getImage())}}" alt="badge : {{badge.getName()}}" >{% endif %}
                                        <p class="card-text" >{{badge.getName()}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <br>
            {% endif %}
            
            {% if app.user.customer is not null %}
              
                <p class="display-6 no-wrap text-center">Liste de mes factures  </p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Total Payé</th>
                        <th scope="col">Reste à charge</th>
                        <th scope="col">Chèque</th>
                        <th scope="col">PDF</th>
                        <th scope="col">détails</th>
                        
                    </tr>
                    </thead>

                    <tbody>
                    {% for invoice in app.user.customer.getInvoices() %} 
                        {% if invoice.ready == true %}
                            <tr>
                                {% if invoice.comfirm == true %}
                                    <td>Fact- {{ invoice.code }}</td>
                                {% else %}
                                    {% if invoice.category == "Fin Mois"%}
                                        <td>Fact en  cours -{{ invoice.code }}</td>
                                    {% else %}
                                        <td>Dev-{{ invoice.code }}</td>
                                    {% endif %}
                                {% endif %}

                                

                                <td>{{ totals[loop.index-1] }} €</td>

                                {% set total = 0 %}

                                {% for paymentdeadline in  invoice.paymentdeadlines %}
                                    {% if paymentdeadline.actualPaymentDate is not null %}
                                        {% set total = total+paymentdeadline.actualAmount %}
                                    {% endif %}
                                {% endfor %}

                                <td>{{ total }} €</td>

                                <td>{{ totals[loop.index-1]-total }} €</td>
                                {% set cheque = 0 %}
                                {% if invoice.transaction is not null %}
                                    {% for transactionline in invoice.transaction.transactionlines %}
                                        {% if transactionline.chartofaccounts.code==51120 or transactionline.chartofaccounts.code==51121 or transactionline.chartofaccounts.code==51122 %}
                                            {% set cheque=cheque+transactionline.amount %}
                                        {% endif %}
                                        {% if "REM CHQ" in transactionline.label %}
                                            {% set cheque=cheque+transactionline.amount %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <td>{{ cheque }}</td>
                                <td><a href="/invoice/pdf/{{ invoice.iD }}" target="_blank"><i class="fa-sharp fa-solid fa-file"></i></a></td>
                                <td><a href="/invoice/show/{{ invoice.iD }}" ><i class="fa-solid fa-eye"></i></a></td>
                                
                            </tr> 
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <br>
                <br>
                <br>
                {% if app.user.customer is not null %}
                    {% if app.user.customer.supplier %}
                        <p class="display-6 no-wrap text-center mb-5">Liste de mes notes de frais 
                            <a href="/expenseReport/new"><i class="fa-solid fa-plus align-left"></i></a>
                        </p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Motif</th>
                                <th scope="col">Détails</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for expenseReport in app.user.customer.supplier.getExpenseReports() %} 
                                <tr>
                                    <td>{{ expenseReport.date.format('d/m/y') }}</td>
                                    <td>{{ expenseReport.motif }}</td>
                                    <td><a href="/expenseReport/show/{{ expenseReport.iD }}" ><i class = "fa-solid fa-eye"></i></a></td>
                                </tr> 
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
                <br>
                <br>
                <br>
                <p class="display-6 no-wrap text-center">Liste de mes impressions
                <a href="/impression/new"><i class="fa-solid fa-plus align-left"></i></a>
                  </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Horrodataire</th>
                            <th scope="col">imprimeur</th>
                            <th scope="col">Format</th>
                            <th scope="col">Quantité</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                    {% for impression in app.user.customer.getImpressions() %} 
                        <tr>
                            <td>{{impression.getDatetime().format("d/m/Y H:i")}}</td>  
                            <td>{{impression.getName()}}</td>
                            <td>{{impression.getFormat()}}{% if impression.isRectoVerso() %} RV {% endif %} {% if impression.isCouleur() %} Couleur {% else %} NB {% endif %} </td>
                            <td>{{impression.getQuantite()}}</td>
                           
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                 {% if app.user.customer.getBankDetails() %}
                    <p class="display-6 no-wrap text-center">Mes coordonnées bancaires 
                    <a href="/bankDetail/new"><i class="fa-solid fa-pen-to-square"></i> </a></p>
                    <div class="d-flex text-center justify-content-evenly">
                        {% for bankDetail in app.user.customer.getBankDetails() %} 
                        <div class="card justify-content-start" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">IBAN : {{bankDetail.IBAN}}</li>
                                <li class="list-group-item">BIC : {{bankDetail.BIC}}</li>
                            </ul>
                            
                            <div class="card-body ">
                                <a class="card-link" href="/bankDetail/new"><i class="fa-solid fa-pen-to-square"></i></a> 
                            </div>
                        </div>
                        {% endfor %}                      
                    </div>
                {% endif %}
            {% endif %}
            {% if app.user.editor is not null %}
                <p class="display-6 no-wrap text-center align-center mb-5"> Profil de la communication </p>
                <div class="d-flex justify-content-center text-center align-center">
                    <div class="card" style="width: 18rem;">
                        <div class=" card-body ">
                            {% if app.user.editor.getLogo() is not null %}<img class="card-img-top" src="{{asset(app.user.editor.getLogo())}}" alt="{{app.user.editor.getName()}}" >{% endif %}
                            <p class="card-text">{{app.user.editor.getName()}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Description : {{app.user.editor.getDescription()}}</li>
                            <li class="list-group-item">Mail : {{app.user.editor.getMail()}}</li>
                            <li class="list-group-item">Adresse : {{app.user.editor.getAdress()}}</li>
                            <li class="list-group-item">Description : {{app.user.editor.getInstagram()}}</li>
                            <li class="list-group-item">Facebook : {{app.user.editor.getFacebook()}}</li> 
                        </ul>
                        <div class="card-body">
                            <a href="/editor/edit/{{ app.user.editor.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="/editor/" class="card-link"><i class="fa-solid fa-list"></i></a>
                        </div>
                    </div>
                </div>

                <p class="display-6 no-wrap text-center">Liste des postes  
                    <a href="/post/new"><i class="fa-solid fa-plus align-left"></i></a></p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Visible</th>
                        <th scope="col">Fin diffusion</th>
                        <th scope="col">Détails</th>       
                    </tr>
                    </thead>
                    <tbody>
                        {% for post in app.user.editor.getPosts() %} 
                            <tr>
                                <td>{{post.getTitre()}}</td>
                                <td>{{post.getDescription()}}</td>
                                <td>
                                    {% if post.visible == FALSE %}
                                        <a href="/post/visible/{{ post.getId() }}" >
                                            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: red;" ></i>
                                        </a>
                                    {% else %}
                                        <a href="/post/unvisible/{{ post.getId() }}" >
                                            <i class="fa-sharp fa-solid fa-circle-check" style="color: green;"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{% if post.getEndDate() is null %} - {% else %}{{post.getEndDate().format('d/m/Y H:i')}}{% endif %}</td>
                                
                                <td><a href="/post/show/{{post.getId()}}"><i class="fa-solid fa-eye"></i></i></a></td> 
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
