<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome!{% endblock %}</title>
        {# favicon du site#}
        <link rel="icon" type="png" height="auto" sizes="16x16" href="{{asset('build/images/logo_FEDEB.png')}}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://kit.fontawesome.com/ffbea23889.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="/build/app.css">

            <script src="https://kit.fontawesome.com/ffbea23889.js" crossorigin="anonymous"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


        {% endblock %}


    </head>

    <body style="height: 100%">
        {% block header %}
            <header>
                <nav height="60" style="background-color:#2B9D7D ;" class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="https://fedeb.net/"><img src="{{asset('build/images/logo_FEDEB.png')}}" height="60" alt="logo Fédé B"></a>


                        {% if is_granted('ROLE_USER') %}
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    {% if is_granted('ROLE_ADMIN')%}

                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="/account/">Mon Profil</a>
                                        </li>
                                    {% endif %}

                                    <li class="nav-item">
                                        <a class="nav-link" href="/seance/">Séance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/catalogue/">Catalogue de formation </a>
                                    </li>
                                    
                                    
                                    {% if is_granted('ROLE_FORMATEURICE') %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Espace Formateurice </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/account/showAll">Liste des profils</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/association/">Liste des associations</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/equipeElu/">Liste des equipes d'élu.e.s</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/lieux/">Liste des Lieux </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/seance/showAllForFormateurice"> Liste des séances </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/badge/">Liste des badges</a>
                                                </li>
                                            
                                            </ul>
                                        </li>
                                    {% endif %}

                                    {% if is_granted('ROLE_FORMATEURICE') %}
                                    <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Espace BF </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/account/liste_formateurice">Liste des Formateurice</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/signature/BF">signature de mail BF</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/account/showAll">gestionnaire des role</a>
                                                </li>

                                            </ul>
                                        </li>
                                    {% endif %}
                                    
                                    {% for equipeElu in app.user.profil.getEquipeElu() %}
                                        {% if equipeElu == 'Centraux UBO' or equipeElu == 'CROUS Rennes-Bretagne' or is_granted('ROLE_BF') %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Signature </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                {% if equipeElu == 'Centraux UBO' or is_granted('ROLE_BF') %}
                                                    <li >
                                                        <a class="dropdown-item" href="/signature/centrauxUBO">Signature Centraux UBO </a>
                                                    </li>
                                                {% endif %}
                                                {% if equipeElu == 'CROUS Rennes-Bretagne' or is_granted('ROLE_BF') %}
                                                    <li >
                                                        <a class="dropdown-item" href="/signature/CROUS">Signature CROUS  BZH</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    

                                </ul>
                        

                        {# deuxième partie de la navbar #}

                        <div class="d-flex justify-content-end">
                                {% if  app.user.profil.getEquipeElu() is not empty %}
                                        <table>
                                            <thead>
                                                <tr><th>Equipe d'élu </th></tr>
                                            </thead>
                                            <tbody>
                                            {% for equipeElu in app.user.profil.getEquipeElu() %}
                                                <tr><td> {{equipeElu.getName()}}</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                {% endif %}
                                {% if  app.user.profil.getAssociation() is not empty %}

                                    <div class="d-flex flex-row-reverse">
                                        {% for association in app.user.profil.getAssociation() %}
                                            <div class="p-2">
                                            {% if association.getImage() is null %}
                                                {{association.getSigle()}}
                                            {% else %}
                                                <a><img src="{{asset(association.getImage())}}" height="60" class="rounded-circle" alt="{{association.getSigle()}}"> </a>
                                            {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                
                        {% endif %}
                         <div class="d-flex justify-content-end">
                             <ul>
                            <li>{% if app.user is null %} <a class="nav-link " href="/register/"> s'inscrire </a> {% else %} {{app.user.getUserIdentifier()}} {% endif %}</a></li>
                            </ul>
                             <ul >
                                <li><a class="nav-link " href="/logout/"><i color="dark" height="80" class="fa-solid fa-power-off"></i></a></li>
                            </ul>
                        </div>


                    </div>
                </nav>
             </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <br>
        <br><br><br><br>
            <footer  height="60" style="background-color:#2B9D7D ;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 mt-2 mb-2">
                            <p class="text-light justify-content-center">Logiciel de gestion des formations et de suivie des formé.e.s de la Fédé B</p>
                            <p class="text-light justify-content-center"></p>

                        </div>
                        <div class="col-lg-4 mt-2 mb-2">
                            <p class="text-light justify-content-center"></p>
                            <p class="text-light justify-content-center"></p>
                        </div>

                        <div class="col-lg-4 mt-2 mb-2 justify-content-end">
                            <img src="{{asset('build/images/logo_FAGE.png')}}"  height="60" class="d-inline-block " alt="logo FAGE">
                            <img src="{{asset('build/images/logo_FEDEB.png')}}"  height="60" class="d-inline-block " alt="logo Fédé B">
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
