<!DOCTYPE html>
<html>
    <head style="margin: 0; padding: 0;">
        <meta charset="UTF-8">
        {# favicon du site#}
        <title>{% block title %} Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" height="auto" sizes="16x16" href="{{asset('build/images/****.png')}}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://kit.fontawesome.com/ffbea23889.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="/build/app.css">

            <script src="https://kit.fontawesome.com/ffbea23889.js" crossorigin="anonymous"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


        {% endblock %}


    </head>

    <body style="  position: relative;
  min-height: 100vh;">
        {% block header %}
            <header >
                <nav height="60" style="background-color:#F0AD42 ;" class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/account/">
				            <img src="{{asset('build/images/logo_MERER.svg')}}" height="60" alt="logo Merer">
					        <span class="align-middle mr-2 ml-2">X</span>
                           <img src="{{asset('build/images/logo_Noir.svg')}}" height="60" alt="logo ******">
			            </a>
                        
                        {% if is_granted('ROLE_USER') %}
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  >
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {% if app.user.profil is not  null and not is_granted('ROLE_FORMATEURICE')   %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/seance/">Séance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/catalogue/">Catalogue de formation </a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" href="/demande/new">Demander une formation </a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_FORMATEURICE') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/seance/">Séance</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Espace Formateurice </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/seance/archivage"> Liste des séances </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/evenement/"> Liste des évènements </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/account/showAll">Liste des profils <i class="fa-solid fa-user"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/association/">Liste des associations</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/equipeElu/">Liste des équipes d'élu.e.s <i class="fa-solid fa-screen-users"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/lieux/">Liste des Lieux  <i class="fa-solid fa-location-dot"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/badge/">Liste des badges <i class="fa-sharp fa-solid fa-badge-check"></i></a>
                                            </li> 
                                            <li class="nav-item">
                                                <a class="nav-link" href="/demande/new">Demander une formation </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/catalogue/">Catalogue de formation</a>
                                            </li>
                                        
                                        </ul>
                                    </li>
                                {% endif %}

                                {% if is_granted('ROLE_BF') %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Espace BF </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        
                                            <li class="nav-item">
                                                <a class="nav-link" href="/account/showFormateurice">Liste des Formateurices</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/demande/">Liste des demandes de formation</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/signature/BF">Signature de mail BF</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/expenseReport/new"> Demande de NDF </a>
                                            </li>
                                            {# {% if is_granted('ROLE_FORMA') %}
                                                <li><hr class="dropdown-divider"> Espace Tortue </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" target="_blank" href="/retour/sdf">Générer le fichier SDF </a>
                                                </li>
                                            {% endif %} #}
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <li><hr class="dropdown-divider">Espace Admin </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/account/roles">Gestionnaire des rôles</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                                  {% if is_granted('ROLE_COM') %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Espace Com </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        
                                            <li class="nav-item">
                                                <a class="nav-link" href="/editor/">Liste des Editeurs</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/group/">Liste des groupes de diffusion</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/post/">Liste des postes</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_TRESO') %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Espace Trésorerie </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/transaction/">transactions <i class="fa-solid fa-arrow-right-arrow-left"></i> </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/impression/">impressions <i class="fa-solid fa-print"></i> </a>
                                            </li>
                                                <li class="nav-item">
                                                <a class="nav-link" href="/expenseReport/">NDF <i class="fa-solid fa-rectangle-list"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/invoice/">Factures <i class="fa-sharp fa-solid fa-file-invoice"></i></a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/discount/">Liste des réductions</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/service/">Liste des services </a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/event/">Suivi Projet </a>
                                            </li>
                                                <li class="nav-item">
                                                <a class="nav-link" href="/financement/">Suivi Subvention </a>
                                            </li>
                                                <li class="nav-item">
                                                <a class="nav-link" href="/bp/">Suivi BP </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/chartOfAccounts/">Plan Comptable </a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/chequeBox/">Chèques  <i class="fa-solid fa-money-check-dollar"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/fundBox/">Caisses <i class="fa-solid fa-cash-register"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/bankAccount/">Compte Bancaire <i class="fa-solid fa-building-columns"></i></a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/customer/">Liste des clients </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/supplier/">Liste des fournisseurs  </a>
                                            </li> 
                                        </ul>
                                    </li>
                                {% endif %}

                                {% if app.user.getProfil() is not null %}
                                    {% if app.user.profil.getEquipeElu() is not empty %}
                                        {% if 'Centraux UBO' in app.user.profil.getEquipeElu() or 'CROUS Rennes-Bretagne' in app.user.profil.getEquipeElu() or is_granted('ROLE_BF') %}   
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Signature </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    {% if'Centraux UBO' in app.user.profil.getEquipeElu() or is_granted('ROLE_BF') %}
                                                        <li >
                                                            <a class="dropdown-item" href="/signature/centrauxUBO">Signature Centraux UBO </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if 'CROUS Rennes-Bretagne' in app.user.profil.getEquipeElu() or is_granted('ROLE_BF') %}
                                                        <li >
                                                            <a class="dropdown-item" href="/signature/CROUS">Signature CROUS BZH</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                              
                            </ul>
                        </div>
                        <br><br><br>
                    {% endif %}
                        <div class="d-flex justify-content-end">
                           {% if is_granted('ROLE_USER')%}
                                <ul>
                                      <li><a class="nav-link" target="_blank" href=" https://discord.gg/6PR3h3mtp9"> <i class="fa-brands fa-discord"></i></a> </li>
                                </ul>
                            {% endif %}
                             <ul>
                                <li>{% if app.user is null %} <a class="nav-link " href="/register/"> s'inscrire </a> {% else %}<a class="nav-link " href="/account/">  {{app.user.getUserIdentifier()}}</a> {% endif %}</li>
                            </ul>
                             <ul >
                                <li><a class="nav-link " href="/logout/"><i color="dark" height="140" class="fa-solid fa-power-off"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
             </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <br><br>
            <footer class="sticky-footer"  style="  position: absolute;
  bottom: 0; 
  width: 100%;    background-color:#F0AD42 ;">
                <div class="container">
                    <div class=" text-center mobile-size" style=" display: flex; justify-content: space-between;">
                        <small>© 
                           <a  href="/mentionlegale">Merer</a> {{ "now"|date("Y") }} V1.0
                           <a  href="/mentionlegale">mention légale</a>
                        </small>
                    {% if is_granted('ROLE_USER') %}
                        <small >
                           <a  href="/support">support <i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                        </small>
                    {% endif %}
                    </div>
                </div>
            </footer> 
        {% endblock %} 
    </body>
</html>
