{% extends 'base_user.html.twig' %}

{% block title %}Nouvelle impression en interne{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Enregistrer une nouvelle impression</p>
            <br>
            <p class="display-6 no-wrap text-center"> 
                <a class="btn btn-primary" href="/impression/new">Nouvelle impression pour les associations</a> 
            </p>
      
            <div class="form-control form-control-lg mx-auto corps text-center">
                {{ form_start(form) }}
                <div class="mx-auto mt-5 mb-5">


                    <div class="event my-5">
                        {{ form_label(form.event, 'Projet ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.event) }}
                        {{ form_widget(form.event) }}
                        {{ form_help(form.event) }}
                    </div>

                    <div class="name my-5">
                        {{ form_label(form.name, 'Nom / Prénom ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                    </div>

                    <div class="format my-5">
                        {{ form_label(form.format, 'Format ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.format) }}
                        {{ form_widget(form.format) }}
                        {{ form_help(form.format) }}
                    </div>

                    <div class="rectoVerso my-5">
                        {{ form_label(form.rectoVerso, 'Recto Verso ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.rectoVerso) }}
                        {{ form_widget(form.rectoVerso) }}
                        {{ form_help(form.rectoVerso) }}
                    </div>

                    <div class="couleur my-5">
                        {{ form_label(form.couleur, ' Couleur ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.couleur) }}
                        {{ form_widget(form.couleur) }}
                        {{ form_help(form.couleur) }}
                    </div>

                    <div class="quantite my-5">
                        {{ form_label(form.quantite, ' Nombre de feuilles / plastifications ', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_errors(form.quantite) }}
                        {{ form_widget(form.quantite) }}
                        {{ form_help(form.quantite) }}
                    </div>

                  

            
                
                    <button class="btn btn-success mt-3 mb-3">{{ button_label|default('Valider ') }}<i class = "fa text-light fa-save me-2"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

