{% extends 'base_user.html.twig' %}

{% block title %}Détails Lieu{% endblock %}



{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="display-6 no-wrap text-center mb-5">Détails du Lieu {{lieu.getName()}}</p>
                <div class=" d-flex justify-content-center text-center align-center">
                    <div class="card" style="width: 18rem;">
                
                        <div class=" card-body ">
                            <h5 class="card-title">{{lieu.getName()}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Code : {{lieu.getCode()}}</li>
                            <li class="list-group-item">Salle : {{lieu.getSalle()}}</li>
                            <li class="list-group-item">Adresse : {{lieu.getAdresse()}}</li>
                            <li class="list-group-item">Code Postale : {{lieu.getCodePostale()}}</li>
                            <li class="list-group-item">ville : {{lieu.getVille()}}</li>
                                                 
                            
                        </ul>
                        <div class="card-body">
                            <a href="/lieux/edit/{{ lieu.getId() }}" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="/lieux/delete/{{ lieu.getId()}}" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
                            <a href="/lieux/" class="card-link"><i class="fa-solid fa-list"></i></a>
                           
                        </div>
                    </div>
                </div>
 

            {# <div class="text-center">
                <a href="/chlidren/childrenToCamp/{{camp.campId}}"><button class="btn btn-success mt-3 mb-3"><i class = "fa text-light fa-plus-square me-2"></i>{{ button_label|default('Nouveau') }}</button></a>
            </div> #}

        </div>
    </div>


{% endblock %}
