{% extends 'base_user.html.twig' %}

{% block title %}Liste Chèque{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Liste des chèques  
                <a href="/cheque/new"><i class="fa-solid fa-plus align-right"></i></a>
                </p>
       
            <table class="table table-striped">
                <thead>
                <tr>
                   <th scope="col">date de réception</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Chèque Box</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for cheque in cheques %} 
                    <tr>
                        <td> 
                            {% if cheque.getDateOfCollection() is  null %} - {% else %} {{cheque.getDateOfCollection().format('d/m/y H:i')}} {% endif %}   
                        </td>
                        <td>{{cheque.getAmount()}}€</td>
                        <td>{{cheque.getChequeBox().getName()}}</td>
                        <td><a href="/cheque/edit/{{cheque.getId()}}"><i class="fa-solid fa-pen-to-square"></i></a></td> 
                          <td><a href="/cheque/delete/{{cheque.getId()}}"><i class="fa-solid fa-trash-can"></a></td> 
                     </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
